body {
	max-width: 800px;
	margin: auto;
	padding: 0 2px;
	font-size: 18px;
	line-height: 1.6;
	font-family: "Verdana", sans-serif
}
.logobar img {
	margin: 10px 0;
	width: 25%;
	display: block
}
.body {display: flex}
.sidebar {
	background-color: #B5B7DD;
	flex: 0 0 25%
}
.sidebar a {
	display: block;
	padding: 2px 10px;
	color: black;
	text-decoration: none;
	font-weight: bold
}
.sidebar a:hover {
	background-color: #595b7d;
	color: white
}
.content {
	border: 2px outset gray;
	padding: 0 10px;
	flex: 1
}
.footer {
	font-size: 10px;
	text-align: center
}

/* Wasting 279 bytes for second class netizens */
@media (max-width: 500px) {
	.logobar img {
		margin: 5px auto;
		width: 35%
	}
	.body {flex-direction: column}
	.sidebar {text-align: center}
	.sidebar a {display: inline!important}
	.content {border: none!important}
}

/* Content formatting */
img.centerimg {
	display: block;
	margin: auto;
	border: 1px solid black
}
h1,h2,h3,h4,h5,h6 {line-height: 1}
h1 {font-size: 27px}
h2 {font-size: 22px}
h3,h4,h5,h6 {font-size: 18px}
table {border-collapse: collapse}
td,th {
	border: 1px solid black;
	padding: 5px
}